@keyframes moveInLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-100% - 4rem)); } }

@keyframes moveInRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(100% + 4rem)); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #f5f7f6;
  max-width: 192rem;
  margin: 0 auto; }

a {
  text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #575757; }

.title__section {
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .title__section {
      font-size: 4rem;
      line-height: 5rem; } }

.title__span {
  display: block;
  text-align: center; }

.title__span--light {
  color: #4ab84a; }

.title__span--dark {
  color: #257325; }

.title__span--white {
  color: #fff; }

.title__coach-name {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: none; }
  @media only screen and (max-width: 75em) {
    .title__coach-name {
      font-size: 3.5rem; } }

.title__coach-name--small {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .title__coach-name--small {
      font-size: 2.5rem; } }

.advantages__title {
  font-size: 4.7rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 6rem;
  color: #fff;
  padding: 2rem .5rem; }
  @media only screen and (max-width: 56.25em) {
    .advantages__title {
      font-size: 4rem;
      line-height: 4.5rem; } }

.paragraph {
  text-align: center;
  margin: 2.5rem 0;
  line-height: 3.5rem; }

.paragraph--white {
  color: #fff; }

.advantages__text {
  width: 65%;
  font-weight: 700;
  color: #fff; }

.coach__text {
  text-align: center;
  line-height: 3.6rem; }
  @media only screen and (max-width: 75em) {
    .coach__text {
      font-size: 2.2rem; } }

.u-margin-top-minus {
  margin-top: -8rem; }

.u-margin-top-minus-large {
  margin-top: -15.5rem; }

.u-margin-top-largest {
  margin-top: 24rem; }

.u-margin-top-large {
  margin-top: 18rem; }

.u-margin-top-medium {
  margin-top: 12.5rem; }

.u-margin-top-small {
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 2rem; } }

.btn {
  display: block;
  border: none;
  font-family: 'Open Sans', sans-serif; }

.btn__section {
  padding: 2rem 8.5rem; }

.btn__join {
  padding: 2.5rem 7.5rem;
  font-weight: 700; }

.btn--block, .btn--block:link, .btn--block:visited {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px; }

.btn--block:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--block:focus, .btn--block:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--block--green {
  color: #fff;
  background-color: #3aab3a; }

.btn--block--white {
  color: #257325;
  background-color: #fff; }

.btn--inline {
  text-decoration: underline;
  color: #fff;
  background-color: transparent;
  font-size: 2.4rem;
  margin: 2rem 0; }
  .btn--inline:hover {
    color: #257325; }

.player {
  padding: 5.5rem 0; }
  @media only screen and (max-width: 75em) {
    .player {
      width: 80%;
      height: auto;
      padding: 3.5rem 0; } }

.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333333%; }
  .coach:not(:last-child) {
    margin-right: 1.5rem; }
  .coach__photo-box {
    position: relative; }
  .coach__photo {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .coach__photo {
        width: 90%; } }
  .coach__inst {
    position: absolute;
    bottom: 4rem;
    right: 1rem; }
    @media only screen and (max-width: 75em) {
      .coach__inst {
        bottom: 3.5rem;
        right: 3.5rem; } }
  .coach__link {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
    cursor: pointer;
    z-index: 1; }
    .coach__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 0 1px #fff;
      z-index: -1;
      transition: all .2s; }
    .coach__link:hover::before {
      transform: scale(0.9); }
  .coach__inst__icon {
    position: absolute;
    top: 22.5%;
    left: 22.5%;
    width: 4.5rem;
    height: 4.5rem;
    fill: #4ab84a; }
  .coach__description {
    padding-top: 2rem; }

.prize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .prize {
      margin-top: 25rem; } }
  .prize__box {
    display: flex;
    align-items: center;
    position: relative;
    width: 27.8rem;
    height: 31.6rem;
    background-repeat: no-repeat;
    background-size: cover; }
    .prize__box:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 75em) {
        .prize__box:not(:last-child) {
          margin-right: 1.5rem; } }
      @media only screen and (max-width: 56.25em) {
        .prize__box:not(:last-child) {
          margin-right: 3.5rem; } }
    .prize__box--silver {
      background-image: url(../img/bg-silver.png); }
    .prize__box--gold {
      width: 33.7rem;
      height: 38.5rem;
      background-image: url(../img/bg-gold.png); }
      @media only screen and (max-width: 56.25em) {
        .prize__box--gold {
          width: 25rem;
          height: 28.5rem;
          position: absolute;
          top: -85%; } }
    .prize__box--bronze {
      background-image: url(../img/bg-bronze.png); }
    @media only screen and (max-width: 56.25em) {
      .prize__box {
        width: 25rem;
        height: 28.5rem; } }
  .prize__medal {
    position: absolute;
    top: -14%;
    left: 25%;
    z-index: 5; }
    @media only screen and (max-width: 56.25em) {
      .prize__medal {
        width: 12rem;
        height: auto; } }
  .prize__text {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .prize__rank {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .prize__gift {
    line-height: 3rem;
    font-weight: 700;
    color: #235721;
    padding: 0 4.6rem; }
    .prize__gift--silver {
      font-size: 3.5rem; }
    .prize__gift--gold {
      font-size: 4.5rem;
      line-height: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .prize__gift--gold {
          font-size: 3.5rem;
          line-height: 3rem; } }
    .prize__gift--bronze {
      font-size: 3.2rem;
      text-transform: uppercase; }

/*
// CSS HEXAGONS
.hexagon {    
    position: relative;
    width: 27rem; 
    height: 15.5rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: .5rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 19rem;
        height: 19rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3rem;
        border-radius: .5rem;
    }

    &:before {
        top: -9.4rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -9.4rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}

.hexagon--big {
    position: relative;
    width: 32.5rem; 
    height: 18rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: 1rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 23.5rem;
        height: 23.5rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3.5rem;
        border-radius: 1rem;
    }

    &:before {
        top: -11.1rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -11.1rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}
*/
.step {
  width: 40%;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .step {
      width: 45%; } }
  @media only screen and (max-width: 56.25em) {
    .step {
      width: 80%; } }
  .step__number {
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: #3aab3a;
    padding-right: 3rem; }
    @media only screen and (max-width: 75em) {
      .step__number {
        font-size: 4rem;
        padding-right: 2rem; } }
  .step__description {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 75em) {
      .step__description {
        padding-right: 2rem; } }
  .step__text {
    line-height: 3.8rem; }
  .step__links {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 4rem;
    font-size: 0; }
    @media only screen and (max-width: 75em) {
      .step__links {
        margin-top: 2.5rem; } }
    .step__links img {
      width: 100%;
      height: auto; }
  .step__btn {
    padding: 2rem 8rem; }

.program {
  margin: 5rem 0;
  max-width: 100rem;
  z-index: 5; }
  @media only screen and (max-width: 75em) {
    .program {
      max-width: 82rem; } }
  @media only screen and (max-width: 56.25em) {
    .program {
      max-width: 52rem; } }
  @media only screen and (max-width: 37.5em) {
    .program {
      max-width: 26rem; } }
  @media only screen and (min-width: 112.5em) {
    .program {
      max-width: 140rem; } }
  .program__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    background-color: #fff;
    border-radius: 10px;
    position: relative; }
  .program__name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 18rem;
    height: 21rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700; }
    .program__name--man {
      color: #23a9ff;
      background: url(../img/bg-man.png) no-repeat center;
      background-size: cover; }
    .program__name--couple {
      color: #ab8255;
      background: url(../img/bg-couple.png) no-repeat center;
      background-size: cover; }
    .program__name--woman {
      color: #ff5373;
      background: url(../img/bg-woman.png) no-repeat center;
      background-size: cover; }
    .program__name--moms {
      color: #a265ff;
      background: url(../img/bg-moms.png) no-repeat center;
      background-size: cover; }
  .program__type {
    color: #575757;
    font-size: 1.8rem; }
  .program__title {
    font-size: 3rem;
    line-height: 0.9em; }
  .program__description {
    padding: 2rem 1rem;
    text-align: center; }
  .program__text {
    font-size: 2rem; }
  .program__price {
    color: #4ab84a;
    font-weight: 700;
    font-size: 2.8rem; }
  .program__btn {
    margin: 2.7rem 2.5rem;
    padding: 2rem 5rem;
    letter-spacing: .2em; }
    @media only screen and (max-width: 75em) {
      .program__btn {
        margin: 2.2rem 2.5rem;
        padding: 1.2rem 3rem; } }

.slide {
  width: 5rem;
  height: 25rem;
  background-color: orangered;
  margin: 0 5rem;
  border: 3px solid black; }

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 138rem;
  margin: 0 auto; }
  .header__top-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .header__logo-link {
      width: 9rem; } }
  @media only screen and (max-width: 56.25em) {
    .header__logo-link {
      width: 15rem; } }
  .header__logo {
    width: 100%;
    height: auto; }
  .header__main-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem; }
  .header__title {
    position: relative;
    margin-bottom: 4.2rem; }
    @media only screen and (max-width: 75em) {
      .header__title {
        margin-top: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__title {
        margin-top: -4rem; } }
  .header__title-info {
    margin: 0 50%;
    transform: translateX(-50%);
    max-width: 80%;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .header__title-info {
        max-width: 100%; } }
  .header__title-img {
    max-width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); }
  .header__btn {
    padding: 1.5rem 5.5rem; }
    @media only screen and (max-width: 75em) {
      .header__btn {
        padding: 1.2rem 4.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__btn {
        display: none; } }

.navigation {
  flex: 1; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      display: none; } }
  .navigation__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem 3.5rem; }
    @media only screen and (max-width: 75em) {
      .navigation__list {
        padding: 1rem 2rem; } }
  .navigation__item:not(:last-child) {
    display: inline-block;
    padding-right: 3rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #257325; }
  .navigation__link:hover {
    border-bottom: 2px solid #257325; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 18rem 1rem 2rem 1rem;
  background: #1b232e url(../img/bg-pattern.png) no-repeat;
  -webkit-clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  z-index: 3; }
  .footer__social {
    display: flex;
    margin: 4rem 0; }
    @media only screen and (max-width: 37.5em) {
      .footer__social {
        flex-wrap: wrap;
        justify-content: center; } }
    .footer__social__box {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer__social__box:not(:last-child) {
        margin-right: 2.5rem; }
        @media only screen and (max-width: 37.5em) {
          .footer__social__box:not(:last-child) {
            margin-bottom: 1rem;
            margin-right: 1.5rem; } }
    .footer__social__title {
      text-transform: uppercase;
      font-weight: 700;
      color: #7b8faa; }
      @media only screen and (max-width: 37.5em) {
        .footer__social__title {
          font-size: 2rem; } }
    .footer__social__link {
      display: flex;
      align-items: center;
      width: 21.5rem;
      height: 7.5rem;
      margin-top: 1rem;
      border: 2px solid #fff;
      border-radius: 10px;
      position: relative;
      opacity: .5;
      transition: all .3s; }
      @media only screen and (max-width: 37.5em) {
        .footer__social__link {
          width: 18rem;
          height: 6.5rem; } }
      .footer__social__link:hover {
        opacity: 1; }
    .footer__social__link-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #fff; }
      @media only screen and (max-width: 37.5em) {
        .footer__social__link-text {
          padding-right: 1rem; } }
    .footer__social__link-action {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700; }
    .footer__social__link-name {
      font-size: 2.6rem;
      line-height: 1.2em; }
      @media only screen and (max-width: 37.5em) {
        .footer__social__link-name {
          font-size: 2.2rem;
          line-height: 1em; } }
    .footer__social__icon {
      padding: 0 .5rem; }
      .footer__social__icon--telegram {
        width: 9rem;
        height: 9rem; }
      .footer__social__icon--instagram {
        width: 11rem;
        height: 11rem; }
      .footer__social__icon--whatsapp {
        padding: 0 1rem;
        width: 9rem;
        height: 9rem; }
  .footer__info {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .footer__logo {
    position: absolute;
    top: -3rem;
    left: 2rem; }
    @media only screen and (max-width: 75em) {
      .footer__logo {
        display: none; } }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        display: block;
        width: 10rem;
        height: auto;
        top: -1rem;
        left: 1rem; } }
  .footer__navigation {
    padding: 0 3rem; }
    .footer__navigation__list {
      list-style: none; }
    .footer__navigation__item {
      display: inline-block; }
      .footer__navigation__item:not(:last-child) {
        margin-right: 3rem; }
    .footer__navigation__link {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }
      .footer__navigation__link:hover {
        color: #3aab3a; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        display: none; } }
  .footer__design {
    display: flex;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: 1rem; }
    @media only screen and (max-width: 75em) {
      .footer__design {
        top: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__design {
        top: 1rem; } }
    .footer__design__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.6rem;
      color: #7b8faa; }
    .footer__design__link {
      color: #3aab3a;
      text-decoration: underline;
      cursor: pointer; }
      .footer__design__link:hover {
        color: #fff; }
    .footer__design__logo {
      padding-left: 1rem; }
  .footer__copyright {
    margin: 3rem 0;
    color: #7b8faa;
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        margin-top: 10rem; } }

.menu {
  display: none;
  /*
    &__toggle {
        position: relative;
        z-index: 1000;
    }
    */ }
  @media only screen and (max-width: 56.25em) {
    .menu {
      display: block; } }
  .menu__checkbox {
    display: none; }
  .menu__background {
    height: 100%;
    width: 0rem;
    position: fixed;
    top: 0rem;
    right: 0rem;
    background: linear-gradient(135deg, #46b64a 50%, #dae35b 100%);
    z-index: 50;
    transition: width .8s ease; }
  .menu__nav {
    position: fixed;
    top: 50%;
    right: 2.5rem;
    z-index: 50;
    min-width: 28rem;
    max-width: 28rem;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-50%);
    visibility: hidden; }
  .menu__list {
    position: relative;
    list-style: none;
    text-align: center;
    width: 100%; }
  .menu__link:link, .menu__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
  .menu__link:hover, .menu__link:active {
    background-position: 100%;
    color: #000;
    transform: translateX(1rem); }
  .menu__btn {
    border: 3px solid #fff;
    padding: 1.5rem 3.3rem;
    margin-top: 3rem; }
    .menu__btn:hover {
      transform: none;
      box-shadow: none;
      border: 3px solid #fff;
      background-color: transparent;
      box-sizing: content-box;
      color: #fff; }
  .menu__checkbox:checked ~ .menu__background {
    width: 33.5rem; }
  .menu__checkbox:checked ~ .menu__nav {
    opacity: 1;
    visibility: visible; }
  .menu__btn-humburger {
    /*
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 100;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
        */
    z-index: 100;
    color: #3aab3a;
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 8rem;
    height: 8rem;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 10px;
    background-color: #f5f7f6;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
  .menu__icon {
    /*
        font-size: 5rem;
        font-weight: 700;
        color: $color-green-medium;
        */
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    height: 5px;
    background: #3aab3a;
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .menu__icon::before, .menu__icon::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #3aab3a;
      content: "";
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s; }
    .menu__icon::before {
      top: -15px;
      -webkit-transition-property: top, transform;
      transition-property: top, transform; }
    .menu__icon::after {
      bottom: -15px;
      -webkit-transition-property: bottom, transform;
      transition-property: bottom, transform; }
  .menu__checkbox:checked + .menu__btn-humburger {
    background: transparent; }
  .menu__checkbox:checked + .menu__btn-humburger .menu__icon {
    background: none; }
  .menu__checkbox:checked + .menu__btn-humburger .menu__icon::before,
  .menu__checkbox:checked + .menu__btn-humburger .menu__icon::after {
    background-color: #fff;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s; }
  .menu__checkbox:checked + .menu__btn-humburger .menu__icon::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu__checkbox:checked + .menu__btn-humburger .menu__icon::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.section-about {
  position: relative; }

.section-about::before {
  content: '';
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  height: 65%;
  background: #3aab3a url(../img/bg-pattern.png) no-repeat;
  transform: skewY(-6.5deg);
  z-index: -1; }

.section-about__wrap {
  max-width: 93rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.advanteges {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .advanteges {
      margin-bottom: 3rem; } }

.coaches {
  display: flex;
  justify-content: space-between;
  margin: 6rem 1.5rem; }

.prizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.prizes::before {
  content: '';
  position: absolute;
  top: -7%;
  left: 0;
  width: 100%;
  height: 115%;
  background: #3aab3a url(../img/bg-pattern.png) no-repeat;
  transform: skewY(-6.5deg);
  z-index: -1; }

.prizes__description {
  margin: 5rem auto;
  width: 60%; }

.participation {
  display: flex;
  flex-direction: column;
  align-items: center; }

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .programs__box {
    display: flex;
    margin: 5rem 0; }

.programs::before {
  content: '';
  position: absolute;
  top: -13%;
  left: 0;
  width: 100%;
  height: 125%;
  background: #1b232e url(../img/bg-pattern.png) no-repeat;
  transform: skewY(-6.5deg);
  z-index: -10; }
