* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f5f7f6;
  max-width: 192rem; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #575757; }

.title__section {
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase; }

.title__span {
  display: block;
  text-align: center; }

.title__span--light {
  color: #4ab84a; }

.title__span--dark {
  color: #257325; }

.title__span--white {
  color: #fff; }

.title__coach-name {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: none; }

.title__coach-name--small {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.advantages__title {
  font-size: 4.7rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 6rem;
  color: #fff;
  padding: 2rem 0; }

.paragraph {
  text-align: center;
  margin: 2.5rem 0;
  line-height: 3.5rem; }

.paragraph--white {
  color: #fff; }

.advantages__text {
  width: 65%;
  font-weight: 700;
  color: #fff; }

.coach__text {
  text-align: center;
  line-height: 3.6rem; }

.u-margin-top-minus {
  margin-top: -8rem; }

.u-margin-top-large {
  margin-top: 23.5rem; }

.u-margin-top-middle {
  margin-top: 12.5rem; }

.u-margin-top-small {
  margin-top: 4rem; }

.btn {
  display: block;
  border: none;
  font-family: 'Open Sans', sans-serif; }

.btn__section {
  padding: 2rem 8.5rem; }

.btn__join {
  padding: 2.5rem 7.5rem;
  font-weight: 700; }

.btn__header {
  padding: 1.5rem 5.5rem; }

.btn--block {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px; }

.btn--block--green {
  color: #fff;
  background-color: #3aab3a; }

.btn--block--white {
  color: #257325;
  background-color: #fff; }

.btn--inline {
  text-decoration: underline;
  color: #fff;
  background-color: transparent;
  font-size: 2.4rem;
  margin: 2rem 0; }

.player {
  padding: 5.5rem 0; }

.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333333%; }
  .coach:not(:last-child) {
    margin-right: 1.5rem; }
  .coach__photo-box {
    position: relative; }
  .coach__photo {
    margin-bottom: 2rem; }
  .coach__inst {
    position: absolute;
    bottom: 4rem;
    right: 1rem; }
  .coach__link {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer; }
  .coach__inst__icon {
    position: absolute;
    top: 22.5%;
    left: 22.5%;
    width: 4.5rem;
    height: 4.5rem;
    fill: #4ab84a; }
  .coach__description {
    padding-top: 2rem; }

.prize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto; }
  .prize__box {
    display: flex;
    align-items: center;
    position: relative;
    width: 27.8rem;
    height: 31.6rem;
    background-repeat: no-repeat;
    background-size: cover; }
    .prize__box:not(:last-child) {
      margin-right: 3rem; }
    .prize__box--silver {
      background-image: url(../img/bg-silver.png); }
    .prize__box--gold {
      width: 33.7rem;
      height: 38.5rem;
      background-image: url(../img/bg-gold.png); }
    .prize__box--bronze {
      background-image: url(../img/bg-bronze.png); }
  .prize__medal {
    position: absolute;
    top: -13%;
    left: 25%; }
  .prize__text {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .prize__rank {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase; }
  .prize__gift {
    line-height: 3rem;
    font-weight: 700;
    color: #235721;
    padding: 0 4.6rem; }
    .prize__gift--silver {
      font-size: 3.5rem; }
    .prize__gift--gold {
      font-size: 4.5rem;
      line-height: 4rem; }
    .prize__gift--bronze {
      font-size: 3.2rem;
      text-transform: uppercase; }

/*
// CSS HEXAGONS
.hexagon {    
    position: relative;
    width: 27rem; 
    height: 15.5rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: .5rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 19rem;
        height: 19rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3rem;
        border-radius: .5rem;
    }

    &:before {
        top: -9.4rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -9.4rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}

.hexagon--big {
    position: relative;
    width: 32.5rem; 
    height: 18rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: 1rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 23.5rem;
        height: 23.5rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3.5rem;
        border-radius: 1rem;
    }

    &:before {
        top: -11.1rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -11.1rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}
*/
.step {
  width: 40%;
  display: flex;
  margin: 4rem 0; }
  .step__number {
    font-size: 5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: #3aab3a;
    padding-right: 3rem; }
  .step__description {
    display: flex;
    flex-wrap: wrap; }
  .step__text {
    line-height: 3.8rem; }
  .step__links {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem; }
  .step__btn {
    padding: 2.5rem 8.5rem; }

.header {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  overflow: hidden; }
  .header__top-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .header__logo {
    margin-top: .5rem; }
  .header__main-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__title {
    position: relative;
    margin-bottom: 4.2rem; }
  .header__title-info {
    margin: 0 50%;
    transform: translateX(-50%);
    max-width: 80%;
    height: auto; }
  .header__title-img {
    max-width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); }

.navigation {
  flex: 1; }
  .navigation__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem 3.5rem; }
  .navigation__item:not(:last-child) {
    display: inline-block;
    padding-right: 3rem; }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #257325; }

.section-about {
  position: relative; }

.section-about::before {
  content: '';
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 113rem;
  background: #3aab3a url(../img/bg-pattern.png) no-repeat;
  transform: skewY(-6.5deg);
  z-index: -1; }

.section-about__wrap {
  max-width: 93rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.advanteges {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.coaches {
  display: flex;
  justify-content: space-between;
  margin: 11.5rem 1.5rem; }

.prizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.prizes::before {
  content: '';
  position: absolute;
  top: -13%;
  left: 0;
  width: 100%;
  height: 125%;
  background: #3aab3a url(../img/bg-pattern.png) no-repeat;
  transform: skewY(-6.5deg);
  z-index: -1; }

.prizes__description {
  margin: 5rem auto;
  width: 60%; }

.participation {
  display: flex;
  flex-direction: column;
  align-items: center; }

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
