// COLORS

$color-grey-dark: #575757;
$color-grey-light: #f5f7f6;
$color-green-dark: #257325;
$color-green-dark-2: #235721;
$color-green-medium: #3aab3a;
$color-green-light: #4ab84a;
$color-blue-dark: #1b232e;
$color-white: #fff;

//Colors of programs
$color-blue-1: #23a9ff;
$color-blue-2: #8eebff;

$color-brown-1: #ab8255;
$color-brown-2: #f2c99c;

$color-pink-1: #ff5373;
$color-pink-2: #ffbeca;

$color-purple-1: #a265ff;
$color-purple-2: #dcc6ff;


