.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    padding: 18rem 0rem 2rem 1rem;

    background: $color-blue-dark url(../img/bg-pattern.png) no-repeat;
    -webkit-clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 24%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 3;


    &__title {

    }

    &__social {
        display: flex;
        margin: 4rem 0;

        &__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            &:not(:last-child) {
                margin-right: 2.5rem;
            }

            
        }

        &__title {
            text-transform: uppercase;
            font-weight: 700;
            color: $color-grey-medium;
        }

        &__link {
            display: flex;
            align-items: center;
            width: 21.5rem;
            height: 7.5rem;
            margin-top: 1rem;
            border: 2px solid $color-white;
            border-radius: 10px;
            
            position: relative;
            opacity: .5;
            transition: all .3s;

            /*
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //background-color: rgba($color-grey-dark, .8);
                //border-radius: 5px;
                box-sizing: border-box;
            }
            */
            
            &:hover {
                opacity: 1;
            }
        }

        &__link-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;
            color: $color-white;
        
        }

        &__link-action {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
        }

        &__link-name {
            font-size: 2.6rem;
            line-height: 1.2em;
        }

        &__icon {
            padding: 0 .5rem;

            &--telegram {
                width: 9rem;
                height: 9rem;
            }

            &--instagram {
                width: 11rem;
                height: 11rem;
            }

            &--whatsapp {
                padding: 0 1rem;
                width: 9rem;
                height: 9rem;
            }
        }
    }

    &__info {
        //max-width: 120rem;
        //margin: 0 auto;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
     
    &__logo {
        position: absolute;
        top: -3rem;
        left: 2rem;
        
        @include respond(tab-land) {
            display: none;
        }
        @include respond(tab-port) {
            display: block;
            width: 10rem;
            height: auto;
            top: -1rem;
            left: 1rem;
        }
    }

    &__navigation {
        padding: 0 3rem;
        //flex: 1;
        
        
        &__list {
            list-style: none;
            //display: flex;
            //justify-content: center;
        }
    
        &__item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }
            
        }

        &__link {
            color: $color-white;
            text-transform:uppercase;
            font-weight: 700;

            &:hover {
                color: $color-green-medium;
            }
        }

        @include respond(tab-port) {
            display: none;
        }

    }

    &__design {
        display: flex;
        align-items: center;
        position: absolute;
        top: -1rem;
        right: 1rem;

        @include respond(tab-land) {
            top: 5rem;
        }
        @include respond(tab-port) {
            top: 1rem;
        }


        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            font-size: 1.6rem;
            color: $color-grey-medium;
        }

        &__link {
            
            color: $color-green-medium;
            text-decoration: underline;
            cursor: pointer;
            

            &:hover {
                color: $color-white;
            }
        }

        &__logo {
            padding-left: 1rem;
        }
    }

    &__copyright {
        margin: 3rem 0;
        color: $color-grey-medium;
        font-size: 1.6rem;

        @include respond(tab-port) {
            margin-top: 10rem;
        }
    }

}