.header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 138rem;
    margin: 0 auto;
    

    &__top-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1.5rem;

    }

    &__logo-link {
        
        @include respond(tab-land) {
            width: 9rem;
        } 

        @include respond(tab-port) {
            width: 15rem;
        } 

        @include respond(tab-port) {
            width: 10rem;
        } 
        
    }

    &__logo {
        width: 100%;
        height: auto;       
    }

    &__main-info {
        //align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }

    &__title {
        width: 80%;
        position: relative;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 4.2rem;
        @include respond(tab-land) {
            margin-top: 2rem;
        } 
        @include respond(tab-port) {
            margin-top: -2rem;
        }
        @include respond(phone) {
            margin-top: -2rem;
            margin-bottom: 1rem;
        } 
    }

    &__title-info {
        width: 100%;

        //@include respond(tab-port) {
        //    width: 100%;
        //    height: auto;
        //} 
        @include respond(phone) {
            width: 70%;
            height: auto;
        } 
    }

    &__title-img {
        width: 80%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);

        @include respond(tab-port) {
            display: none;
        }
    }

    &__btn {
        padding: 1.5rem 5.5rem;

        @include respond(tab-land) {
            padding: 1.2rem 4.5rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.navigation {

    flex: 1;

    @include respond(tab-port) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 1rem 3.5rem;

        @include respond(tab-land) {
            padding: 1rem 2rem;
        }
    }

    &__item:not(:last-child) {
        display: inline-block;
        padding-right: 3rem;
    }

    &__link {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            color: $color-green-dark;
        }
        
        &:hover {
            border-bottom: 2px solid $color-green-dark;
        }
    }
}