.btn {
    display: block;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.btn__section {
    padding: 2rem 8.5rem;
}

.btn__join {
    padding: 2.5rem 7.5rem;
    font-weight: 700;
}

.btn__header {
    padding: 1.5rem 5.5rem;
}

.btn--block {
    &,
    &:link,
    &:visited {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;    
        border-radius: 10px;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:focus,
    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
}

.btn--block--green {
    color: $color-white;
    background-color: $color-green-medium;
}

.btn--block--white {
    color: $color-green-dark;
    background-color: $color-white;
}

.btn--inline {
    text-decoration: underline;
    color: $color-white;
    background-color: transparent;
    font-size: 2.4rem;
    margin: 2rem 0;

    &:hover {
        color: $color-green-dark;
    }
}