.coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.333333%;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &__photo-box {
        position: relative;
    }

    &__photo {
        //width: 100%;
        //height: auto;
        margin-bottom: 2rem;
    }

    &__inst {
        position: absolute;
        bottom: 4rem;
        right: 1rem;
    }

    &__link {
        position: relative;
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: $color-white;
        cursor: pointer;
    }

    &__inst__icon {
        position: absolute;
        top: 22.5%;
        left: 22.5%;
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-green-light;
    }

    &__name {

    }

    &__description {
        padding-top: 2rem;
    }

}