.prize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;

    &__box {
        display: flex;
        align-items: center;
        position: relative;
        width: 27.8rem;
        height: 31.6rem;
        background-repeat: no-repeat;
        background-size: cover;

        &:not(:last-child) {
            margin-right: 3rem;
        }
        
        &--silver {
            background-image: url(../img/bg-silver.png);
        }

        &--gold {
            width: 33.7rem;
            height: 38.5rem;
            background-image: url(../img/bg-gold.png);
        }

        &--bronze {
            background-image: url(../img/bg-bronze.png);
        }
    }

    &__medal {
        position: absolute;
        top: -13%;
        left: 25%;

        &--silver,
        &--bronze {
            
        }

        &--gold {
            
        }
    }

    &__content {
        
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__rank {
        //display: block;
        font-size: 2.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__gift {
        line-height: 3rem;
        font-weight: 700;
        color: $color-green-dark-2;
        padding: 0 4.6rem;

        &--silver {
            font-size: 3.5rem;
        }
        
        &--gold {
            font-size: 4.5rem;
            line-height: 4rem;
        }

        &--bronze {
            font-size: 3.2rem;
            text-transform: uppercase;
        }
    }
    
}




/*
// CSS HEXAGONS
.hexagon {    
    position: relative;
    width: 27rem; 
    height: 15.5rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: .5rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 19rem;
        height: 19rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3rem;
        border-radius: .5rem;
    }

    &:before {
        top: -9.4rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -9.4rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}

.hexagon--big {
    position: relative;
    width: 32.5rem; 
    height: 18rem;
    background-color: $color-white;
    border-left: solid 1rem $color-white;
    border-right: solid 1rem $color-white;
    border-radius: 1rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 23.5rem;
        height: 23.5rem;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: $color-white;
        left: 3.5rem;
        border-radius: 1rem;
    }

    &:before {
        top: -11.1rem;
        border-top: solid 1rem inherit;
        border-right: solid 1rem inherit;
      }
      
    &:after {
        bottom: -11.1rem;
        border-bottom: solid 1rem inherit;
        border-left: solid 1rem inherit;
      }
}
*/