.step {
    width: 40%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;

    @include respond(tab-land) {
        width: 45%;
    }
    @include respond(tab-port) {
        width: 80%;
        
    }

    &__number {
        font-size: 5rem;
        font-weight: 700;
        line-height: 4.5rem;
        color: $color-green-medium;
        padding-right: 3rem;

        @include respond(tab-land) {
            font-size: 4rem;
            padding-right: 2rem;
        }
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        
        @include respond(tab-land) {
            padding-right: 2rem;
        }
    }

    &__text {
        line-height: 3.8rem;
    }

    &__links {
        align-self: flex-end;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 4rem;
        font-size: 0;

        @include respond(tab-land) {
            margin-top: 2.5rem;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__btn {
        padding: 2rem 8rem;
    }
}