* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

}

body {
    background-color: $color-grey-light;
    max-width: 192rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
