body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-grey-dark;
}

//TITLES

.title__section {
    font-size: 5rem;
    line-height: 6rem;
    text-transform: uppercase;
}

.title__span {
    display: block;
    text-align: center;
}

.title__span--light {
    color: $color-green-light;

}

.title__span--dark {
    color: $color-green-dark;
}

.title__span--white {
    color: $color-white;
}

.title__coach-name {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: none;
}

.title__coach-name--small {
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages__title {
    font-size: 4.7rem;
    letter-spacing: 1px;
    text-align: center;
    line-height: 6rem;
    color: $color-white;
    padding: 2rem 0;
}

//PARAGRAPHS

.paragraph {
    text-align: center;
    margin: 2.5rem 0;
    line-height: 3.5rem;
}

.paragraph--white {
    color: $color-white;
}

.advantages__text {
    width: 65%;
    font-weight: 700;
    color: $color-white;
}

.coach__text {
    text-align: center;
    line-height: 3.6rem;
}
