body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-grey-dark;
}

.title__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    line-height: 6rem;
    text-transform: uppercase;
}

.title__span {

}

.title__span--light {
    color: $color-green-light;

}

.title__span--dark {
    color: $color-green-dark;
}

.advantages__title {
    font-size: 4.7rem;
    letter-spacing: 1px;
    text-align: center;
    line-height: 6rem;
    color: $color-white;
    padding: 2rem 0;
}

.paragraph {
    text-align: center;
    margin: 2.5rem 0;
    line-height: 3.5rem;

}

.advantages__text {
    width: 65%;
    font-weight: 700;
    color: $color-white;
}

