.u-margin-top-minus {
    margin-top: -8rem;
}

.u-margin-top-large {
    margin-top: 23.5rem;
}

.u-margin-top-middle {
    margin-top: 12.5rem;
}

.u-margin-top-small {
    margin-top: 4rem;
}