.section-about {
    position: relative;
}

.section-about::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 65%;
    background: $color-green-medium url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -1;

    @include respond(phone) {
        top: 45%;
        height: 60%;
    }
}

.section-about__wrap {
    max-width: 93rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advanteges {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}

.coaches {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 6rem 1.5rem; 

    @media (max-width: 785px) {
        max-width: 70%;
        margin: 6rem auto;
        margin-top: 3rem;
    }
    @include respond(phone) {
        max-width: 100%;
    }
}

.command__arrow {
    display: none;
    background-color: transparent;
    border: none;
    color: $color-green-medium;
    font-weight: 700;
    font-size: 3rem;
    height: 5rem;
    margin: auto .5rem;

    &__icon {
        width: 4rem;
        height: 4rem;
    }


    &:focus,
    &:active {
        outline: none;
    }
    @include respond(phone) {
        display: block;
        
    }
}

.prizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.prizes::before {
    content: '';
    position: absolute;
    top: -3%;
    left: 0;
    width: 100%;
    height: 110%;
    background: $color-green-medium url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -1;
}

.prizes__description {
    margin: 5rem auto;
    width: 60%;
    @include respond(tab-port) {
        margin: 3rem auto;
        width: 90%;
    }
}

.participation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.programs::before {
    content: '';
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 125%;
    background: $color-blue-dark url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -10;
}