.section-about {
    position: relative;
}

.section-about::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 65%;
    background: $color-green-medium url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -1;
}

.section-about__wrap {
    max-width: 93rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advanteges {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}

.coaches {
    display: flex;
    justify-content: space-between;
    margin: 6rem 1.5rem;
    //max-width: 120rem;
}

.prizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.prizes::before {
    content: '';
    position: absolute;
    top: -7%;
    left: 0;
    width: 100%;
    height: 115%;
    background: $color-green-medium url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -1;
}

.prizes__description {
    margin: 5rem auto;
    width: 60%
}

.participation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    //margin: 0 7%;
}

.programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    &__box {
        display: flex;
        margin: 5rem 0;
    }
}

.programs::before {
    content: '';
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 125%;
    background: $color-blue-dark url(../img/bg-pattern.png) no-repeat;
    transform: skewY(-6.5deg);
    z-index: -10;
}